{% extends 'base.html' %}
{% block content %}
<div style="font-family: 'Karla', sans-serif;">
    <div class="alert alert-success text-center" role="alert" style="background-color: rgb(247, 168, 40);">
        <a href="www.samskritisansthan.com">Run by Samarth Shiksha Samithi, Delhi under aegis of Vidya Bharti Akhil Bhartiya Shiksha Sansthan.</a>
    </div>
    <div>
        <div class="alert alert-success text-center" role="alert" style="background-color: rgb(105, 243, 128);">
            RECOGNIZED UPTO CLASS X BY DIRECTORATE OF EDUCATION
        </div>
        <div class="alert alert-success text-center" role="alert" style="background-color: rgb(228, 66, 134);">
            Apply for Admission 
            Admission
        </div>
    </div>
</div>
{% endblock %}