.links{
    color: aliceblue;
    padding: 5px 5px;

}
.news{
    margin: 10px 30px;
}
a:link {
    color: aliceblue;
}
a:visited {
    color: aliceblue;
}
a:hover{
    text-decoration: underline;
}
.card-body{
    background-color: #D9eff7;
}
.card-title{
    color: #4741A6;
    font-weight: bolder;
}
